<footer>
    <div class="content py-5 text-center">
        <div class="ct-social-box" data-color="custom" data-icon-size="custom" data-icons-type="simple">

            <span>Copyright © 2026</span>

            <a href="#" data-network="facebook" aria-label="Facebook" class="mx-3">
                <span class="ct-icon-container">
                    <svg width="20px" height="20px" viewBox="0 0 20 20" aria-hidden="true">
                        <path
                            d="M20,10.1c0-5.5-4.5-10-10-10S0,4.5,0,10.1c0,5,3.7,9.1,8.4,9.9v-7H5.9v-2.9h2.5V7.9C8.4,5.4,9.9,4,12.2,4c1.1,0,2.2,0.2,2.2,0.2v2.5h-1.3c-1.2,0-1.6,0.8-1.6,1.6v1.9h2.8L13.9,13h-2.3v7C16.3,19.2,20,15.1,20,10.1z">
                        </path>
                    </svg>
                </span> </a>

            <a href="#" data-network="twitter" aria-label="X (Twitter)" class="mx-3">
                <span class="ct-icon-container">
                    <svg width="20px" height="20px" viewBox="0 0 20 20" aria-hidden="true">
                        <path
                            d="M2.9 0C1.3 0 0 1.3 0 2.9v14.3C0 18.7 1.3 20 2.9 20h14.3c1.6 0 2.9-1.3 2.9-2.9V2.9C20 1.3 18.7 0 17.1 0H2.9zm13.2 3.8L11.5 9l5.5 7.2h-4.3l-3.3-4.4-3.8 4.4H3.4l5-5.7-5.3-6.7h4.4l3 4 3.5-4h2.1zM14.4 15 6.8 5H5.6l7.7 10h1.1z">
                        </path>
                    </svg>
                </span> </a>

            <a href="#" data-network="instagram" aria-label="Instagram" class="mx-3">
                <span class="ct-icon-container">
                    <svg width="20" height="20" viewBox="0 0 20 20" aria-hidden="true">
                        <circle cx="10" cy="10" r="3.3"></circle>
                        <path
                            d="M14.2,0H5.8C2.6,0,0,2.6,0,5.8v8.3C0,17.4,2.6,20,5.8,20h8.3c3.2,0,5.8-2.6,5.8-5.8V5.8C20,2.6,17.4,0,14.2,0zM10,15c-2.8,0-5-2.2-5-5s2.2-5,5-5s5,2.2,5,5S12.8,15,10,15z M15.8,5C15.4,5,15,4.6,15,4.2s0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8S16.3,5,15.8,5z">
                        </path>
                    </svg>
                </span> </a>

            <a href="#" data-network="email" aria-label="Email" class="mx-3">
                <span class="ct-icon-container">
                    <svg width="20" height="20" viewBox="0 0 20 20" aria-hidden="true">
                        <path
                            d="M10,10.1L0,4.7C0.1,3.2,1.4,2,3,2h14c1.6,0,2.9,1.2,3,2.8L10,10.1z M10,11.8c-0.1,0-0.2,0-0.4-0.1L0,6.4V15c0,1.7,1.3,3,3,3h4.9h4.3H17c1.7,0,3-1.3,3-3V6.4l-9.6,5.2C10.2,11.7,10.1,11.7,10,11.8z">
                        </path>
                    </svg>
                </span> </a>

            <a href="#" data-network="phone" aria-label="Phone" class="mx-3">
                <span class="ct-icon-container">
                    <svg width="20" height="20" viewBox="0 0 20 20" aria-hidden="true">
                        <path
                            d="M4.8,0C2.1,0,0,2.1,0,4.8v10.5C0,17.9,2.1,20,4.8,20h10.5c2.6,0,4.8-2.1,4.8-4.8V4.8C20,2.1,17.9,0,15.2,0H4.8z M6.7,3.8C7,3.8,7.2,4,7.4,4.3C7.6,4.6,7.9,5,8.3,5.6c0.3,0.5,0.4,1.2,0.1,1.8l-0.7,1C7.4,8.7,7.4,9,7.5,9.3c0.2,0.5,0.6,1.2,1.3,1.9c0.7,0.7,1.4,1.1,1.9,1.3c0.3,0.1,0.6,0.1,0.9-0.1l1-0.7c0.6-0.3,1.3-0.3,1.8,0.1c0.6,0.4,1.1,0.7,1.3,0.9c0.3,0.2,0.4,0.4,0.4,0.7c0.1,1.7-1.2,2.4-1.6,2.4c-0.3,0-3.4,0.4-7-3.2s-3.2-6.8-3.2-7C4.3,5.1,5,3.8,6.7,3.8z">
                        </path>
                    </svg>
                </span> </a>


        </div>
    </div>

</footer>