<section class="py-5">

    <div class="container">

        <div class="row">
            <h3 class="text-center fw-bold">Contact with us</h3>

            <div class="col-lg-6">
                <div class="img-wrapper">
                    <img src="../../imgs/home-hero-image_optimized.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <form class="py-4">
                    <div class="mb-3">
                        <label for="nameInputEmail1" class="form-label">Name *</label>
                        <input type="text" class="form-control" id="nameInputEmail1" aria-describedby="Name">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email Address *</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="phoneInput" class="form-label">Phone *</label>
                        <input type="tell" class="form-control" id="phoneInput">
                    </div>
                    <div class="mb-3 ">
                        <label for="message" class="form-label w-100">Your Message *</label>
                        <textarea name="message" id="message" class="w-100"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Sand Message</button>
                </form>
            </div>





        </div>
    </div>
</section>