<section class="py-5">
    <div class="container py-5">
        <div class="row">
            <h3>About Us</h3>
            <div class="col-lg-6 py-5">
                <div class="img-wrapper w-50">
                    <img src="../../imgs/images.png" class="w-100" alt="">
                </div>

            </div>

            <div class="col-lg-6 py-5 px-4">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia veniam soluta accusamus impedit et
                    tempora aspernatur voluptatum necessitatibus asperiores at sint ut commodi cumque saepe nobis
                    perferendis, nisi neque. Assumenda.</p>

            </div>













        </div>
    </div>
</section>